<div class="container">
	<%= render template: "shared/navbar" %>


	<script type="text/template" id="welcome">
		<h1> Tess Shapiro </h1>
		<h3>Fullstack Web Developer | User Experience Designer</h3>
		<button class="btn">button</button>
	</script>


</div>