
<div class="container">

</div>

	<script type="text/template" id="welcome">
		<h1> Tess Shapiro </h1>
		<h3>Fullstack Web Developer | User Experience Designer</h3>
	</script>

	<script type="text/template" id="workView">
		<div id="transit">
			<div class="logo row">
				<a href="//trans-it.herokuapp.com" target="_blank">
					<img class="col-xs-offset-1 col-sm-offset-1 col-md-offset-4 col-lg-offset-4 col-xs-10 col-sm-10 col-md-4 col-lg-4" src="assets/logo_big.png">
				</a>
			</div>
			<div class="row">
				<p class="blurb"><a href="//trans-it.herokuapp.com" target="_blank" data-hover="Trans.it">Trans.it</a> is designed for New Yorkers who want to quickly review their options getting from point A to point B. In one view, Trans.it shows the user all available options including, walking and biking time estimates (as well as calories burned for some encouragement!), taxi price estimate and quickest public transit option.Once the user chooses their route, they are shown a map with directions. Trans.it is built with a Backbone.js front-end, Bootstrap CSS-framework, all on a Rails backend.</p>
			</div>
			
			<div class="row manyPics">
				<img class="col-xs-12 col-sm-12 col-md-4 col-lg-4" src="assets/trans-it screen 1 mobile.png">
				<img class="col-xs-12 col-sm-12 col-md-4 col-lg-4" src="assets/trans-it screen 2 mobil.png">
				<img class="col-xs-12 col-sm-12 col-md-4 col-lg-4" src="assets/trans-it screen 3 mobile.png">
			</div>
		</div>
		<svg id="bigTriangleColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
				<path d="M0 0 L50 100 L100 0 Z" />
		</svg>

		<div id="thirsty">
			<div class="logo row">
				<img class="col-xs-offset-1 col-sm-offset-1 col-md-offset-4 col-lg-offset-4 col-xs-10 col-sm-10 col-md-4 col-lg-4" src="assets/Thirsty_logo no border.png">
			</div>
			<div class="row">
				<p class="blurb">Thirsty is currently in development. It is a web app that will quickly find happy hours for those looking to have a drink in Manhattan. Users will be able to search by neighborhood, deal or bar type. Thirsty will be debuting in early 2015.</p>
			</div>
			
			<div class="row manyPics">
				<img class="col-md-offset-4 col-lg-offset-4 col-xs-12 col-sm-12 col-md-4 col-lg-4" src="assets/Thirsty screen 2.png">
			</div>
		</div>
		
		<svg id="bigTriangleColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
				<path d="M0 0 L50 100 L100 0 Z" />
		</svg>

		<div id="timehack">
			<div class="logo row">
			<a href="http://timehack.herokuapp.com/" target="_blank">
				<img class="col-xs-offset-1 col-sm-offset-1 col-md-offset-4 col-lg-offset-4 col-xs-10 col-sm-10 col-md-4 col-lg-4" src="assets/timehack_logo.png">
			</a>
			</div>

			<div class="row">
				<p class="blurb"><a href="http://timehack.herokuapp.com/" target="_blank" data-hover="This site">This site</a> won 2nd place in the 2014 Time Inc Hackathon. The goal was to make Time content more accessible for millennials. By changing the UX of the website, users can explore headlines while rating them by swiping left or right. Liked articles are saved, and users are fed content based on these ratings. User can also reterieve stats to see categories of articles they liked and how many minutes they've read.</p>
			</div>
			
			<div class="row manyPics">
				<img class="col-md-offset-2 col-lg-offset-2 col-xs-12 col-sm-12 col-md-4 col-lg-4" src="assets/TimeHack-1.png">
				<img class="col-xs-12 col-sm-12 col-md-4 col-lg-4" src="assets/TimeHack-2.png">
			</div>
		</div>

		<svg id="bigTriangleColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
				<path d="M0 0 L50 100 L100 0 Z" />
		</svg>

		<div id="eventalist">
			<div class="logo row">
			<a href="http://eventalist.herokuapp.com/" target="_blank">
				<img class="col-xs-offset-1 col-sm-offset-1 col-md-offset-4 col-lg-offset-4 col-xs-10 col-sm-10 col-md-4 col-lg-4" src="assets/eventalist.png">
			</a>
			</div>
			<div class="row">
				<p class="blurb"><a href="http://eventalist.herokuapp.com/" target="_blank" data-hover="Eventalist">Eventalist</a> was built as a group project during my time at General Assembly. The site utilizes the NYTimes Events API to dynamically create events. Users can subscribe to categories to receive daily emails on new events happening in their area. Eventalist is built with Boostrap, Backbone.js, and Sinatra.</p>
			</div>
			
			<div class="row manyPics">
				<img class="col-xs-12 col-sm-12 col-md-4 col-lg-4" src="assets/eventalist 1.png">
				<img class="col-xs-12 col-sm-12 col-md-4 col-lg-4" src="assets/eventalist modal cropped.png">
				<img class="col-xs-12 col-sm-12 col-md-4 col-lg-4" src="assets/Eventalist events full.png">
			</div>
		</div>

	</script>

	<script type="text/template" id="about">
	<img class="tess" src="/assets/Tess.png"/>
	<p>Tess is a freelance web designer and developer located in New York city. She recently graduated General Assembly's Web Development Immersive course. Tess is a trained fullstack developer who enjoys creating fun, interactive websites that also solve problems. Her perferred stack includes HTML5, CSS3, Bootstrap, JavaScript/jQuery, Backbone.js, Ruby on Rails, and PostgreSQL.</p>
	</script>

	<script type="text/template" id="contactView">
	<div class="contact">
	<div class="row">
		<div class="col-lg-12 text-center">
			<h2>Contact Me</h2>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<form name="sentMessage" id="contactForm" novalidate>
				<div class="row control-group">
					<div class="form-group col-xs-12 floating-label-form-group controls">
						<label>Name</label>
						<input type="text" class="form-control" placeholder="Name" id="name"></p>
					</div>
				</div>
				<div class="row control-group">
					<div class="form-group col-xs-12 floating-label-form-group controls">
						<label>Email Address</label>
						<input type="email" class="form-control" placeholder="Email Address" id="email">
					</div>
				</div>
				<div class="row control-group">
					<div class="form-group col-xs-12 floating-label-form-group controls">
						<label>Phone Number</label>
						<input type="tel" class="form-control" placeholder="Phone Number" id="phone"></p>
					</div>
				</div>
				<div class="row control-group">
					<div class="form-group col-xs-12 floating-label-form-group controls">
						<label>Message</label>
						<textarea rows="5" class="form-control" placeholder="Message" id="email"></textarea>
					</div>
				</div>
				<br>
				<div id="success"></div>
				<div class="row">
					<div class="form-group col-xs-11">
						<button type="submit" class="btn btn-default btn-lg">Send</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
	</script>