
<div class="container">
	<script type="text/template" id="welcome">
		<h1> Tess Shapiro </h1>
		<h3>Fullstack Web Developer | User Experience Designer</h3>
	</script>

	<script type="text/template" id="workView">
	<div class="row">
		<div class="work col-xs-6 col-sm-6 col-md-6 col-lg-6"><img src="assets/logo_big.png"</div>
		<div class="work col-xs-6 col-sm-6 col-md-6 col-lg-6"><img src="assets/logo_big.png"</div>
	</div>
	</script>



	<script type="text/template" id="about">
	<img class="tess" src="/assets/Tess.png"/>
	<p>Tess is a freelance web designer and developer located in New York city. She recently graduated General Assembly's Web Development Immersive course. Tess is a trained fullstack developer who enjoys creating fun, interactive websites that also solve problems. Her perferred stack includes HTML5, CSS3, Bootstrap, JavaScript/jQuery, Backbone.js, Ruby on Rails, and PostgreSQL.</p>
	</script>

</div>