<!-- <%= render template: "shared/navbar" %> -->
<div class="container">
	<script type="text/template" id="welcome">
		<h1> Tess Shapiro </h1>
		<h3>Fullstack Web Developer | User Experience Designer</h3>
	</script>

	<script type="text/template" id="navbar">
		<ul>
			<li><a href="#work">Work</a></li>
			<li><a href="#skills">Skills</a></li>
			<li><a href="#about">About</a></li>
			<li><a href="#contact">Contact</a></li>
			<li><a href="#">Home</a></li>
		</ul>
	</script>
</div>