
<div class="container">

</div>

	<script type="text/template" id="welcome">
		<h1> Tess Shapiro </h1>
		<h3>Fullstack Web Developer | User Experience Designer</h3>
	</script>

	<script type="text/template" id="workView">
		<div id="transit">
			<div class="logo row">
				<a href="//trans-it.herokuapp.com" target="_blank">
					<img class="col-xs-offset-1 col-sm-offset-1 col-md-offset-4 col-lg-offset-4 col-xs-10 col-sm-10 col-md-4 col-lg-4" src="/assets/logo_big-a0976b0f2691d0c6fc24333b31554710.png">
				</a>
			</div>
			<div class="row">
				<p class="blurb">Trans.it is designed for New Yorkers who want to quickly review their options getting from point A to point B. In one view, Trans.it shows the user all available options including, walking and biking time estimates (as well as calories burned for some encouragement!), taxi price estimate and quickest public transit option.Once the user chooses their route, they are shown a map with directions. Trans.it is built with a Backbone.js front-end, Bootstrap CSS-framework, all on a Rails backend.</p>
				<div class="links row col-xs-offset-3 col-sm-offset-4 col-md-offset-5 col-lg-offset-5">
					<i class="fa fa-external-link"></i> <a href="//trans-it.herokuapp.com" target="_blank">Visit site</a>&nbsp;&nbsp;&nbsp;
					<i class="fa fa-github"></i> <a href="//github.com/tdshap/transit_app" target="_blank">View source Code</a>
				</div>
			</div>
			
			<div class="row manyPics">
				<img class="col-xs-12 col-sm-12 col-md-4 col-lg-4" src="/assets/trans-it screen 1 mobile-dc10e5d72f285ee10ff097a56a8b0f60.png">
				<img class="col-xs-12 col-sm-12 col-md-4 col-lg-4" src="/assets/trans-it screen 2 mobil-7fe37b5887775e22924ed1e460f8ecde.png">
				<img class="col-xs-12 col-sm-12 col-md-4 col-lg-4" src="/assets/trans-it screen 3 mobile-14249d98c62d911c45956c1507b2678a.png">
			</div>
		</div>
		<svg id="bigTriangleColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
				<path d="M0 0 L50 100 L100 0 Z" />
		</svg>

		<div id="thirsty">
			<div class="logo row">
				<img class="col-xs-offset-1 col-sm-offset-1 col-md-offset-4 col-lg-offset-4 col-xs-10 col-sm-10 col-md-4 col-lg-4" src="/assets/Thirsty_logo no border-c1aaa7db32d2a1be50280977b27202e4.png">
			</div>
			<div class="row">
				<p class="blurb">Thirsty is currently in development. It is a web app that will quickly find happy hours for those looking to have a drink in Manhattan. Users will be able to search by neighborhood, deal or bar type. Thirsty will be debuting in early 2015.</p>
			</div>
			<div class="links row col-xs-offset-4 col-sm-offset-5 col-md-offset-5 col-lg-offset-5">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-github"></i> <a href="//github.com/Thirsty-NYC/Thirsty" target="_blank">View source Code</a>
			</div>
			<div class="row manyPics">
				<img class="col-md-offset-4 col-lg-offset-4 col-xs-12 col-sm-12 col-md-4 col-lg-4" src="/assets/Thirsty screen 2-a8a02a044312b176ad18ea27d6128cf3.png">
			</div>
		</div>
		
		<svg id="bigTriangleColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
				<path d="M0 0 L50 100 L100 0 Z" />
		</svg>

		<div id="timehack">
			<div class="logo row">
			<a href="http://timehack.herokuapp.com/" target="_blank">
				<img class="col-xs-offset-1 col-sm-offset-1 col-md-offset-4 col-lg-offset-4 col-xs-10 col-sm-10 col-md-4 col-lg-4" src="/assets/timehack_logo-5be1b0e110a8bc207150bb7d91ca95f3.png">
			</a>
			</div>

			<div class="row">
				<p class="blurb">This site won 2nd place in the 2014 Time Inc Hackathon. The goal was to make Time content more accessible for millennials. By changing the UX of the website, users can explore headlines while rating them by swiping left or right. Liked articles are saved, and users are fed content based on these ratings. User can also reterieve stats to see categories of articles they liked and how many minutes they've read.</p>
			</div>
			<div class="links row col-xs-offset-3 col-sm-offset-4 col-md-offset-5 col-lg-offset-5 ">
				<i class="fa fa-external-link"></i> <a href="//timehack.herokuapp.com/" target="_blank">Visit site</a>&nbsp;&nbsp;&nbsp;
				<i class="fa fa-github"></i> <a href="//github.com/TimeHackathon/TimeTime" target="_blank">View source Code</a>
			</div>
			
			<div class="row manyPics">
				<img class="col-md-offset-2 col-lg-offset-2 col-xs-12 col-sm-12 col-md-4 col-lg-4" src="/assets/TimeHack-1-c0d45020b0f48764778ffea249b9df86.png">
				<img class="col-xs-12 col-sm-12 col-md-4 col-lg-4" src="/assets/TimeHack-2-49e20bbf9ed36812dcd0128845cfba4d.png">
			</div>
		</div>

		<svg id="bigTriangleColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
				<path d="M0 0 L50 100 L100 0 Z" />
		</svg>

		<div id="eventalist">
			<div class="logo row">
			<a href="http://eventalist.herokuapp.com/" target="_blank">
				<img class="col-xs-offset-1 col-sm-offset-1 col-md-offset-4 col-lg-offset-4 col-xs-10 col-sm-10 col-md-4 col-lg-4" src="/assets/eventalist-2b16e2c26b37797c54b466c5d64434cc.png">
			</a>
			</div>
			<div class="row">
				<p class="blurb">Eventalist was built as a group project during my time at General Assembly. The site utilizes the NYTimes Events API to dynamically create events. Users can subscribe to categories to receive daily emails on new events happening in their area. Eventalist is built with Boostrap, Backbone.js, and Sinatra.</p>
			</div>
			<div class="links row col-xs-offset-3 col-sm-offset-4 col-md-offset-5 col-lg-offset-5 ">
				<i class="fa fa-external-link"></i> <a href="//eventalist.herokuapp.com/" target="_blank">Visit site</a>&nbsp;&nbsp;&nbsp;
				<i class="fa fa-github"></i> <a href="//github.com/Eventalist/Eventalist" target="_blank">View source Code</a>
			</div>
			<div class="row manyPics">
				<img class="col-xs-12 col-sm-12 col-md-4 col-lg-4" src="/assets/eventalist 1-c1500028edd44a83eb20c48e7e392e91.png">
				<img class="col-xs-12 col-sm-12 col-md-4 col-lg-4" src="/assets/eventalist modal cropped-dd226250294da4a21319e30f12914c9f.png">
				<img class="col-xs-12 col-sm-12 col-md-4 col-lg-4" src="/assets/Eventalist events full-c1e9eed6cac53b6264f3cb320f603c91.png">
			</div>
		</div>

	</script>

	<script type="text/template" id="about">
	<img class="tess" src="/assets/Tess-57e200b17efcd5967ceb3449b06ddea5.png"/>
	<p>Tess is a freelance web designer and developer located in New York city. She recently graduated General Assembly's Web Development Immersive course. Tess is a trained fullstack developer who enjoys creating fun, interactive websites that also solve problems. Her perferred stack includes HTML5, CSS3, Bootstrap, JavaScript/jQuery, Backbone.js, Ruby on Rails, and PostgreSQL.</p>
	<div class="row web col-xs-offset-4 col-sm-offset-4 col-md-offset-5 col-lg-offset-5">
		<a href="//github.com/tdshap" target="_blank"><i class="fa fa-github fa-3x"></i></a>
		<a href="//linkedin.com/in/tdshap/" target="_blank"><i class="fa fa-linkedin fa-3x"></i></a>
		<a  href="//twitter.com/tdshap" target="_blank"><i class="fa fa-twitter fa-3x"></i></a>
	</div>
	<div class="row">
		<a class="btn btn-default mail" href="mailto:tess.shapiro@yahoo.com?Subject=Let's Talk!" target="_top"><i class="fa fa-envelope 2x"></i>&nbsp;&nbsp;Send Tess an email</a>
	</div>
	<hr>
	<div class="skills">
		<div class="skillscol">
			<h1>Front-end</h1>
			<ul>
				<li>HTML5/CSS3</li>
				<li>Bootstrap</li>
				<li>Backbone.js</li>
				<li>JavaScript/jQuery</li>
			</ul>

		</div>
		<div class="skillscol">
			<h1>Back-end</h1>
			<ul>
				<li>Ruby</li>
				<li>Rails/ Sinatra</li>
				<li>PostgreSQL</li>
				<li>Heroku</li>
				<li>Node.js</li>
				<li>Express</li>
			</ul>

		</div>
		<div class="skillscol">
			<h1>Technologies</h1>
			<ul>
				<li>Git/Github</li>
				<li>Sublime Text</li>
				<li>Auth</li>
			</ul>
		</div>
		</div>
	</script>
	


