/*sans serif*/
@import url(//fonts.googleapis.com/css?family=Montserrat);

@media screen and (min-width : 320px) and (max-width : 560px) {
	p.blurb{
		width: 100%;
		font-size: 12px;
	}
	.about p{
	font-size: 12px;
	}
	.web a{
		width: 33%;
		padding:0 10px;
	}
	.navigation ul li {
		padding: 10px;
	}
	.skills div{
		width: 100%;
	}

}

@media screen and (min-width : 561px) {
	p.blurb{
		width: 60%;
		text-align: justify;
	}

	.about p{
	font-size: 15px;
	}
	.navigation ul li {
		padding: 30px;
	}
	.skills div{
		width: 100%;
	}
}

@media screen and (min-width: 1052px) {
	.skills div{
		width: 31%;
	}


}



body{
	background: #ecf0f1;
	color: #363636;
}
.container{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
a {
	color: #363636
}
a:hover{
	color: #363636
}
.welcome{
	background-image: url(/assets/stage.jpg);
	background-repeat: no-repeat;
	background-position: center;
	min-height: 700px;
	text-align: center;
	margin: 25px 0 0 0;
	position: absolute;
}
.welcome h1{
	font-family: 'Montserrat', sans-serif;
	width: 80%;
	margin: 0 auto;
	padding-top: 150px;
	font-size: 70px;
	color: #363636;
 	-moz-animation-name: dropHeader;
  -moz-animation-iteration-count: once;
  -moz-animation-timing-function: ease-in;
  -moz-animation-duration: 0.7s;

  -webkit-animation-name: dropHeader;
  -webkit-animation-iteration-count: once;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 0.7s;

  animation-name: dropHeader;
  animation-iteration-count: once;
  animation-timing-function: ease-in;
  animation-duration: 0.7s;
}

.welcome h3{
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	margin: 0 auto;
	padding-top: 100px;
	font-size: 35px;
	font-weight: 300;
	color: #363636;
 	-moz-animation-name: raiseHeader;
  -moz-animation-iteration-count: once;
  -moz-animation-timing-function: ease-in;
  -moz-animation-duration: 0.7s;

  -webkit-animation-name: raiseHeader;
  -webkit-animation-iteration-count: once;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 0.7s;

  animation-name: raiseHeader;
  animation-iteration-count: once;
  animation-timing-function: ease-in;
  animation-duration: 0.7s;
}

@-moz-keyframes dropHeader {
  0% {
      -moz-transform: translateY(-200px);

  }
  100% {
      -moz-transform: translateY(0);
  }
}
@-webkit-keyframes dropHeader {
  0% {
      -webkit-transform: translateY(-200px);
  }
  100% {
      -webkit-transform: translateY(0);
  }
}
@keyframes dropHeader {
  0% {
      transform: translateY(-200px);
  }
  100% {
      transform: translateY(0);
  }
}

@-moz-keyframes raiseHeader {
  0% {
      -moz-transform: translateY(200px);

  }
  100% {
      -moz-transform: translateY(0);
  }
}
@-webkit-keyframes raiseHeader {
  0% {
      -webkit-transform: translateY(200px);
  }
  100% {
      -webkit-transform: translateY(0);
  }
}
@keyframes raiseHeader {
  0% {
      transform: translateY(200px);
  }
  100% {
      transform: translateY(0);
  }
}

/*navbar*/
.navigation{
	z-index: 10;
	width: 100%;
	margin: 0 auto;
	background: #363636;
	color: white;
	position: absolute;
}
.navigation ul{
	text-align: center;
	padding-top: 20px;

}
.navigation ul li {
	display: inline;
	/*padding: 30px;*/
	text-decoration: none;
	text-transform: uppercase;
}
.navigation ul li a {
	text-decoration: none;
	color: #ecf0f1;
	padding: 5px 5px;
	border: solid 2px transparent;
}
.navigation ul li a:hover{
	border: solid #ecf0f1 2px;
	color: #ecf0f1;
}
.navigation ul li a.active {
	border: solid #ecf0f1 2px;
}

/*about page*/
.about{
	min-height: 300px;
	width: 60%;
	margin: 100px auto;
	padding: 20px 20px 20px;
	font-family: 'Montserrat', sans-serif;
	text-align: justify;
	border: solid 6px #fff;
}
img.tess{
	width: 35%;
	margin: 0 auto;
	display: block;
	padding-bottom: 30px;
}

/*work page*/
div.work{
	height: auto;
	width: 90%;
	margin: 100px auto;
	overflow: hidden;
}
img.work{
 	padding: 10px;
}
.work i {
	margin: 0 auto;
}

#transit{
	width: 100%;
	padding: 20px;
	border: solid 6px #fff;
	border-bottom: solid 30px #fff;
}
#thirsty{
	width: 100%;
	padding: 20px;
	border: solid 6px #fff;
	border-top: none;
	border-bottom: solid 30px #fff;;
	margin-top: -6px;
}
#timehack{
	width: 100%;
	padding: 20px;
	border: solid 6px #fff;
	border-top: none;
	border-bottom: solid 30px #fff;;
	margin-top: -6px;
}

#eventalist{
	width: 100%;
	padding: 20px;
	border: solid 6px #fff;
	border-top: none;
	margin-top: -6px;
}

.manyPics img{
	vertical-align: text-top;
}
.manyPics{
	margin-bottom: 20px;
}
.logo{
	padding-top: 10px;
}
.logo img {
	display: block;
}
p.blurb{
	margin: 20px auto 0;
	padding: 20px 0;
	line-height: 1.5;
}
p.blurb a{
	color: #363636;
	text-decoration: underline;
}
.links{
	padding: 0 0 20px;
}

.mail{
	width: 218px;
	display: block;
	margin: 10px auto 50px;
	background: #363636;
	color: #fff;
}

.web{
	width: 218px;
	display: block;
	margin: 10px auto;
	
}

.web a:nth-child(2) {
	padding-left: 20px;
}
.web a:nth-child(1) {
	padding-left: 20px;
}
.web a{
	width: 33%;
	padding:0 10px;
}

/* Big Triangle */
svg#bigTriangleColor {
	pointer-events: none;
	border-right: solid 6px #fff;
	border-left: solid 6px #fff;
}

#bigTriangleColor path {
	fill: #fff;
	stroke: #fff;
	stroke-width: 2;
}
.skills{
	height: auto;
	width: 100%;
	margin: 50px auto 10px;
}

.skills div{
	display: inline-block;
	vertical-align: text-top;
}
 
.skillscol ul li{
	list-style-type: none;
	text-align: center;
	width:100%;
}

.skillscol ul{
	padding: 0;
	width:100%;
}
.skillscol > h1{
	text-align: center;
	text-decoration: underline;
	font-size: 28px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc); 
}